@page "/"
@using System.Security.Claims

@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@authMessage
<br/>
@if (claims.Count > 0)
{
<ul>
    @foreach (var claim in claims)
    {
        <li>@claim.Type - @claim.Value</li>
    }
</ul>
}

@code
{
    private string authMessage = "User is not authenticated.";
    private IList<Claim> claims = new List<Claim>();

    protected override async Task OnInitializedAsync()
    {
        var state = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = state.User;

        if (user.Identity?.IsAuthenticated == true)
        {
            authMessage = $"{user.Identity.Name} is authenticated.";
            claims = user.Claims.ToList();
        }
    }
}
