@page
@model ExternalLoginModel
@using Microsoft.Extensions.Localization
@using WebLicense.Server
@inject IStringLocalizer<Global> ResG
@inject IStringLocalizer<ExternalLoginModel> ResL
@{
    ViewData["Title"] = ResL["Title"];
}

<h4 id="external-login-title">@ResL["Title2", Model.ProviderDisplayName]</h4>
<hr />
<p id="external-login-description" class="text-info">
    @Html.Raw(ResL["Message1", Model.ProviderDisplayName])
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="placeholder" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <button type="submit" class="btn btn-primary">@ResG["Text.Register"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
