@page
@model ForgotPasswordModel
@using Microsoft.Extensions.Localization
@using WebLicense.Server
@inject IStringLocalizer<ForgotPasswordModel> ResL
@inject IStringLocalizer<Global> ResG

@{
    ViewData["Title"] = ResL["Title"];
}

<div class="row">
    <div class="col-md-4">
        <h4>@ResL["Text.EnterYourEmail"]</h4>
        <hr />
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="placeholder" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email"></span>
            </div>
            <button type="submit" class="btn btn-primary">@ResG["Text.Submit"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
