@page
@model LockoutModel
@using Microsoft.Extensions.Localization
@using WebLicense.Server.Auxiliary.PageModels
@inject IStringLocalizer<LockoutModel> ResL

@{
    Layout = "_MasterLayout";
    ViewData["Title"] = ResL["Title"];
}

<h1 class="text-danger">@ViewData["Title"]</h1>

<div class="mt-5">
    <partial name="_StatusMessage" model="new StatusMessageModel(@ResL["Text.LockedOutMessage"].Value, false).ToJson()" />
</div>
