@page
@model LoginWithRecoveryCodeModel
@using Microsoft.Extensions.Localization
@using WebLicense.Server
@inject IStringLocalizer<Global> ResG
@inject IStringLocalizer<LoginWithRecoveryCodeModel> ResL
@{
    ViewData["Title"] = ResL["Title"];
}

<hr/>
<p>
    @ResL["Message1"]
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" placeholder="placeholder" />
                <label asp-for="Input.RecoveryCode"></label>
                <span asp-validation-for="Input.RecoveryCode"></span>
            </div>
            <button type="submit" class="btn btn-primary">@ResG["Text.Login"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
