@page
@using Microsoft.Extensions.Localization
@model ResetPasswordConfirmationModel
@inject IStringLocalizer<ResetPasswordConfirmationModel> ResL

@{
    ViewData["Title"] = ResL["Title"];
}

<partial name="_StatusMessage" model="@ResL["Format.PasswordResetSuccess", $"<a href=\"{Url.Page("./Login")}\">{ResL["Message.ClickToLogin"]}</a>"].Value" />
