@page
@model ResetPasswordModel
@using Microsoft.Extensions.Localization
@using WebLicense.Server
@inject IStringLocalizer<Global> ResG
@inject IStringLocalizer<ResetPasswordModel> ResL

@{
    ViewData["Title"] = ResL["Title"];
}

<div class="col-md-4">
    <h4>@ResL["Message.ResetYourPassword"]</h4>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="Input.Code" type="hidden" />
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" placeholder="placeholder" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" placeholder="placeholder" />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="placeholder" />
            <label asp-for="Input.ConfirmPassword"></label>
            <span asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <button type="submit" class="btn btn-primary">@ResG["Text.Reset"]</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
