@inherits XInputFloatingTextBase

<div class="form-floating @CssClass2">
    <input @bind="CurrentValueAsString" @bind:event="oninput" @attributes="AdditionalAttributes" class="form-control @CssClass" placeholder="placeholder" />
    <label class="form-label">@Label</label>
</div>
