@page
@using Microsoft.Extensions.Localization
@model SetPasswordModel
@inject IStringLocalizer<SetPasswordModel> ResL
@{
    ViewData["Title"] = ResL["Title"];
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4 class="mb-4">@ResL["Title-2"]</h4>
<partial name="Account/_StatusMessage" for="StatusMessage" />
<div class="text-info mb-3">
    @ResL["Message.1"]
</div>
<div class="row">
    <div class="col-md-8">
        <form id="set-password-form" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" placeholder="placeholder" />
                <label asp-for="Input.NewPassword"></label>
                <span asp-validation-for="Input.NewPassword"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="placeholder" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
            <button type="submit" class="btn btn-primary">@ResL["Text.SetPassword"]</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}